{% extends '::base.html.twig' %}
 
{% block title 'Admin' %}

{% block stylesheets %}
    {% stylesheets
    '@bootstrap_less'
    'bundles/aplication/css/*'
    filter='cssrewrite'
    combine=true
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}

  {% javascripts '@jquery_js' '@bootstrap_js' 'bundles/aplication/js/*' filter='?yui_js' combine=true %}
     <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

{% endblock %}

{% block body %}
    {% block navigation %}
        <div class="header">
            <div class=" container">
                <div class="navbar">

                        <ul class="nav navbar-nav">
                            <li {% if app.request.attributes.get('_route') == "navmenu" %} class="active" {% endif %}>
                                <a href="{{ path('navmenu') }}">Navigation</a>
                            </li>
                            <li  {% if app.request.attributes.get('_route') == "category" %} class="active" {% endif %}>
                                <a href="{{ path('category') }}">Category</a>
                            </li>
                            <li  {% if app.request.attributes.get('_route') == "page" %} class="active" {% endif %} >
                                <a href="{{ path('page') }}">Pages</a>
                            </li>
                            <li  {% if app.request.attributes.get('_route') == "post" %} class="active" {% endif %}>
                                <a href="{{ path('post') }}">Posts</a>
                            </li>
                            <li  {% if app.request.attributes.get('_route') == "user" %} class="active" {% endif %}>
                                <a href="{{ path('user') }}">Users</a>
                            </li>
                        </ul>

                </div>
            </div>
        </div>
    {% endblock %}
    <div class="container admin_content">{% block content %}{% endblock %}</div>
{% endblock %}
