{% extends 'NavMenuBundle::layout.html.twig' %}
{% block content -%}
    <h1>NavMenu edit</h1>

    <form action="{{ path('navmenu_update', { 'id': entity.id, 'position': position, 'locale': app.request.attributes.get('locale')}) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />

        <dl>

            <dt>Title:</dt>
            <dd>{{ form_widget(edit_form.title) }}</dd>
            <dt>Chose type:</dt>
            <dd>
                {{ form_widget(edit_form.type) }}
            </dd>
            <div class="url_container">
                <dt>Custom url:</dt>
                <dd>{{ form_widget(edit_form.url) }}</dd>
            </div>
            <div class="page_container">
                <dt>Chose page:</dt>
                <dd>
                    {{ form_widget(edit_form.pageId) }}
                </dd>
                <dd>
                    <div class="treeList">
                        {{ pageTree |raw }}
                        <span class="removeTreeSeleted label label-info pull-right">remove</span>
                    </div>
                </dd>
            </div>

        </dl>

        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="btn-info">Save</button>
        </p>

    </form>
    <script>
        listTree.treeSelect( $("#admin_navmenubundle_navmenutype_pageId")).removeMe({{entity.id}});
    </script>
<ul class="unstyled inline">
    <li>
        <a href="{{ path('navmenu', {'position': position} ) }}" class="btn btn-inverse">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('navmenu_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class=" btn-danger">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
