{% extends 'NavMenuBundle::layout.html.twig' %}
{% block content -%}
    <div class="btn-group">
        <a href="{{ path('navmenu' ) }}/top" class="btn {% if nav_position == 'top' %} active {% endif %}">Top</a>
        <a href="{{ path('navmenu' ) }}/left" class="btn {% if nav_position == 'left' %} active {% endif %}">Left</a>
        <a href="{{ path('navmenu' ) }}/right" class="btn {% if nav_position == 'right' %} active {% endif %}">Right</a>
    </div>
<h4 class="title">{{ nav_position }} navigation <h4>
<form id="navArange" action="{{ path('navmenu_arange', {'position': 'top'} ) }}" method="POST" >
<div class="cf nestable-lists">
    <div class="dd" id="nestable">
           {{ navTree |raw }}
    </div>
</div>
    <ul class="unstyled inline">
        <li>
            <input type="button" value="Save" id="saveNMTree"  class="btn btn-info pull-left"/>
        </li>

        <li>
            <a href="{{ path('navmenu_new') }}/{{ nav_position }}" class="btn  pull-left">Create new</a>
        </li>
    </ul>
 </form>

{% endblock %}
