{% extends 'NavMenuBundle::layout.html.twig' %}
{% block content -%}

    <h1>NavMenu creation</h1>

    <form action="{{ path('navmenu_create') }}" method="post" {{ form_enctype(form) }}>

        <h4>{{ nav_position }} menu</h4>
        <dl>
            <dt>Name:</dt>
            <dd>{{ form_widget(form.name) }}</dd>
            <dt>Chose type:</dt>
            <dd>
                {{ form_widget(form.type) }}
            </dd>
            <div class="url_container">
                <dt>Custom url:</dt>
                <dd>{{ form_widget(form.url) }}</dd>
            </div>
             <div class="page_container">
                <dt>Chose page:</dt>
                <dd>
                    {{ form_widget(form.pageId) }}
                </dd>
                 <dd>
                     <div class="treeList">
                        {{ pageTree |raw }}
                     </div>
                 </dd>
             </div>

            </dl>

        {{ form_widget(form) }}
        <script>
            listTree.treeSelect( $("#admin_navmenubundle_navmenutype_pageId") );
        </script>
        <ul  class="unstyled inline">
            <li>
                <a href="{{ path('navmenu') }}" class="btn btn-inverse">
                    Back to the list
                </a>
            </li>
            <li>
                <button type="submit">{% trans %}Create{% endtrans %}</button>
            </li>
        </ul>

    </form>

{% endblock %}
