{% extends '::admin.html.twig' %}

{% block content -%}
    <h1>Page list</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Title</th>
                <th>Userid</th>
                <th>Createddate</th>
                <th>Modifieddate</th>
                
                <th>Status</th>
                <th>Parentid</th>
                <th>Guid</th>
                <th>Pagetype</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('page_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.userId }}</td>
                <td>{% if entity.createdDate %}{{ entity.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.modifiedDate %}{{ entity.modifiedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                
                <td>{{ entity.status }}</td>
                <td>{{ entity.parentId }}</td>
                <td>{{ entity.guid }}</td>
                <td>{{ entity.pageType }}</td>
                <td>
                <ul class="unstyled">
                    <li>
                        <a href="{{ path('page_show', { 'id': entity.id }) }}" class="label label-default">show</a>
                    </li>
                    <li>
                        <a href="{{ path('page_edit', { 'id': entity.id }) }}" class="label label-info">edit en</a>
                    </li>
                     <li>
                        <a href="{{ path('page_edit', { 'id': entity.id, 'locale':'sr'  }) }}" class="label label-info">edit sr</a>
                    </li>
                     <li>
                        <a href="{{ path('page_edit', { 'id': entity.id, 'locale':'cir'  }) }}" class="label label-info">edit sr</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
    <ul class="inline unstyled">
        <li>
            <a href="{{ path('page_new') }}" class="btn btn-info">
                {% trans %}new page{% endtrans %}
            </a>
        </li>
    </ul>
    {% endblock %}
