{% extends '::admin.html.twig' %}

{% block content -%}
    <h1>{% trans %}New Category{% endtrans %}</h1>

    <form action="{{ path('category_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="treeList">
            {{ categoryTree |raw }}
        </div>
        <script>
            listTree.treeSelect( $("#admin_categorybundle_categorytype_parentId"));
        </script>
        <style>
            .treeList ul{
                list-style: none;
            }

            .treeList li{

                cursor:pointer;
            }

            .treeList .active{
                color: #325aff;
            }

        </style>
        <ul class="record_actions inline unstyled">
            <li>
                <button type="submit" class="btn btn-info">{% trans %}Create{% endtrans %}</button>
            </li>
            <li>
                <a href="{{ path('category') }}" class="btn btn-inverse">
                    {% trans %}Back to the list{% endtrans %}
                </a>
            </li>
        </ul>
    </form>

{% endblock %}
